absl-py==0.11.0
addict==2.4.0
aiofiles==0.6.0
arrow==0.17.0
asgiref==3.3.1
astunparse==1.6.3
blessed==1.17.12
boto3==1.17.41
botocore==1.20.41
cachetools==4.2.1
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
coreapi==2.3.3
coreschema==0.0.4
cycler==0.10.0
Cython==0.29.22
dj-database-url==0.5.0
Django==3.1.5
django-cors-headers==3.6.0
django-extensions==3.1.0
django-heroku==0.3.1
django-picklefield==3.0.1
django-q==1.3.4
django-storages==1.11.1
djangorestframework==3.12.2
fastapi==0.63.0
flatbuffers==1.12
gast==0.3.3
google-auth==1.27.0
google-auth-oauthlib==0.4.2
google-pasta==0.2.0
grpcio==1.32.0
gunicorn==20.1.0
h11==0.12.0
h5py==2.10.0
httptools==0.1.1
idna==2.10
install==1.3.4
itypes==1.2.0
Jinja2==2.11.2
jmespath==0.10.0
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
Markdown==3.3.4
MarkupSafe==1.1.1
matplotlib==3.4.1
mmcv-full==1.3.0
-e git+https://github.com/open-mmlab/mmdetection.git@9e3fd33ce7f64bf3dd3f5b2f523dcad9218ba299#egg=mmdet
mmpycocotools==12.0.3
numpy==1.19.5
oauthlib==3.1.0
opencv-python==4.5.1.48
opt-einsum==3.3.0
pdf2image==1.14.0
Pillow==8.1.0
protobuf==3.15.3
psycopg2==2.8.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
pydantic==1.8.1
pyparsing==2.4.7
python-dateutil==2.8.1
python-dotenv==0.17.0
python-multipart==0.0.5
pytz==2020.5
PyYAML==5.4.1
redis==3.5.3
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.7.2
s3transfer==0.3.6
six==1.15.0
sqlparse==0.4.1
starlette==0.13.6
tensorboard==2.4.1
tensorboard-data-server==0.3.0
tensorboard-plugin-wit==1.8.0
tensorflow-cpu==2.4.1
tensorflow-estimator==2.4.0
termcolor==1.1.0
terminaltables==3.1.0
torch==1.8.1+cu111
torchaudio==0.8.1
torchvision==0.9.1+cu111
typing-extensions==3.7.4.3
uritemplate==3.0.1
urllib3==1.26.2
uvicorn==0.13.4
uvloop==0.15.2
watchgod==0.7
wcwidth==0.2.5
websockets==8.1
Werkzeug==1.0.1
whitenoise==5.2.0
wrapt==1.12.1
yapf==0.31.0
